html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p, ul, body, input {
    padding: 0;
    margin: 0;
}
body {
    font-family: ;
}
.container {
    max-width: px;
    margin: 0 auto;
}